.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian/themes
!.obsidian/plugins
!.obsidian/community-plugins.json
!.obsidian/core-plugins.json
!.obsidian/core-plugins-migration.json
private/
.replit
replit.nix
